
.cat-list ul {
	margin: 0px 0px 20px 0px;
	padding: 0;
	list-style-type: none;
}

.cat-list ul li {
	display: inline;
	margin-right: 10px;
	font-size: 1.2em;
}

#cat-name {
	margin:0px 0px 5px 0px;
}

.current-cat-container {
	display: flex;
	flex-flow: column;
}

h2 {
	margin: 20px 0px 0px 0px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 2px;
}

img {
	width: 80%;
}

.img-container {
	width: 100%;
}

#nick-names {
	width: 100%;
}